[submodule "submodules/quadtree"]
	path = submodules/quadtree
	url = https://github.com/fti-ooad-project/quadtree.git
[submodule "submodules/libtcp"]
	path = submodules/libtcp
	url = https://github.com/nthend/libtcp.git
[submodule "submodules/lib4u"]
	path = submodules/lib4u
	url = https://github.com/nthend/lib4u.git
